<div class="panel panel-success" ng-if="showUser">
  <div class="list-group form-horizontal">

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-4">
          <span class="fa-stack fa-lg fa-5x" ng-show="!userData.avatar_url">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-circle-o-notch fa-spin fa-stack-1x fa-inverse"></i>
          </span>
          <a href="" ng-click="showDetails()">
            <figure ng-show="userData.avatar_url">
              <img class="img-responsive img-circle"
               src="{{ userData.avatar_url || userImage }}"
               alt="{{ userData.login }}">
            </figure>
          </a>

        </div>
        <div class="col-md-8">
          <h4>
            <a href="" ng-click="showDetails()">
              {{ userData.name }}
            </a>
          </h4>
          <div>
            <small>Private gist - {{ userData.private_gists || 'hidden' }}</small><br>
            <small>Public gist - {{ userData.public_gists || 'hidden'}}</small><br>
            <small>Total private repos - {{ userData.total_private_repos || 'hidden' }}</small>
          </div>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row form-group">
        <label class="col-sm-4 control-label">Working for</label>
        <div class="col-sm-8">
          {{ userData.company || '' }}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row form-group">
        <label class="col-sm-4 control-label">Following</label>
        <div class="col-sm-8">
          {{ userData.following || '' }}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row form-group">
        <label class="col-sm-4 control-label">Followers</label>
        <div class="col-sm-8">
          {{ userData.followers || '' }}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row form-group">
        <label class="col-sm-4 control-label">Location</label>
        <div class="col-sm-8">
          {{ userData.location || "" }}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row form-group">
        <label class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
          {{ userData.email || '' }}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row form-group">
        <label class="col-sm-4 control-label">Public repository</label>
        <div class="col-sm-8">
          {{ userData.public_repos || '' }}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row form-group">
        <label class="col-sm-4 control-label">Public gist</label>
        <div class="col-sm-8">
          {{ userData.public_gists || '' }}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row form-group">
        <label class="col-sm-4 control-label">Hireable</label>
        <div class="col-sm-8">
          <i class="fa fa-check" ng-show="userData.hireable"></i>
          <i class="fa fa-times" ng-show="!userData.hireable"></i>
        </div>
      </div>
    </li>

  </div>
</div>

<div ui-view ng-if="showRepo"></div>