<div class="list-group" ng-if="showRepo">

  <a href=""
     class="list-group-item active"
     ng-click="gotoUser(gotouser)">
     <!-- <i class="fa fa-arrow-left"></i> Back -->
     Shows the list of projects
     <i class="fa fa-spinner fa-pulse" ng-if="searching"></i>
     <span class="badge"
           ng-if="repoData">
           Total projects - {{ repoData.length }}
      </span>
  </a>
  <a href=""
    class="list-group-item"
    ng-repeat="repo in repoData"
    ng-click="showRepoDetails(repo.name)">
    {{ repo.name }}
    <span class="badge">{{ repo.forks_count }}</span>
  </a>

</div>

<div ui-view></div>