/* app css stylesheet */
body {
  background-color: #eee;
}

.media {
  .well;
}

.text-center {
  .img-responsive {
    display: inline-block;
  }
}

.fa-stack-2x {
  color: black;
}

.list-group {
  .form-group {
    margin-bottom: 0;
  }
}
